/* parth Section */
.parth {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* height: 100vh; */
    overflow: visible;
    min-height: 100vh;
}

.parth-image {
  display: block;      /* inline-gap हटाए */
  width: 100vw;        /* device की पूरी width */
  max-width: 100%;     /* zoom में भी कभी overﬂow ना हो */
  height: auto;        /* aspect‑ratio मेन्टेन रहे */
  position: relative;  /* अब absolute नहीं */
  z-index: -1;         /* content ऊपर दिखे */
  filter: brightness(0.75);
}

.parth-content {
  position: absolute;
  /* अपने हिसाब से tweak करें */
  top: 10%;            
  left: 52%;
  transform: translate(0, -20%);
  z-index: 1;
  max-width: 600px;
  color: #fff;         /* image के ऊपर text show करने के लिए */
  padding: 30px;
}

.parth-typing {
  min-height: 58px; /* Adjust as per your h1 font-size */
  display: inline-block;
  white-space: nowrap;
}

.parth h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.parth p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.skills-typing {
  font-size: 24px;
  font-style: italic;
  color: #fa8484;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  display: inline-block;
  white-space: nowrap;
}

.skills-typing::after {
  content: '|';
  animation: blink 1s infinite;
  margin-left: 4px;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
